<link rel="stylesheet" href="/css/about.css">
<div class="info">
   <p>
    Helponify - You will smile again! <br><br>
    Helponify aims at providing mental health assistance with a questionnaire based mental health chatbot functionality wherein via mental health
    screening tests, chatbot will collect the answers of predefined questions.Screening is not a diagnosis but it can be helpful tool for starting
    an conversation with your doctor and loved ones about your mental health.A screening only take few minutes,and after  you will be given
    information about the next steps you should take.Based on screening tests results chatbot  will generate tickets consisting of deatils such as 
    level of illness,doctors detail,type of illness.These tickets will  provide  users on demand service of the best consultants virtually or in
    person according to their needs. 
   </p>
</div>