<link rel="stylesheet" href="../css/knowmore.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- <script src="../scripts/index.js"></script> -->
<div class="book">
    <h1>Know More</h1>
    <button id="button1">Depression
        <span class="button-icon"> <ion-icon name="pulse-outline"></ion-icon></span>
    </button>
    <p id="para1">
     Symptoms Include:
     <ul id="u1">
     <li>Depressed mood most of the day, nearly every day.</li>
     <li>Markedly diminished interest or pleasure in activities most of the day, nearly every day.</li>
     <li>Changes in appetite that result in weight losses or gains unrelated to dieting.</li> 
     <li>Changes in sleeping patterns.</li>
    </ul>
    </p>
    
    <br>
    <button id="button2">Anxiety
        <span class="button-icon"> <ion-icon name="pulse-outline"></ion-icon></span>
    </button>
    <p id="para2">
     Symptoms Include:
     <ul id="u2">
     <li>Feeling nervous, restless or tense.</li>
     <li>Having a sense of impending danger, panic or doom.</li>
     <li>Having an increased heart rate.</li> 
     <li>Breathing rapidly (hyperventilation).</li>
    </ul>
    </p>
    <br>
    <button id="button3">Bipolar
        <span class="button-icon"> <ion-icon name="pulse-outline"></ion-icon></span>
    </button>
    <p id="para3">
     Symptoms Include:
     <ul id="u3">
     <li>Impaired control, social problems such as being unable to concentrate in school or work because of the addiction.</li>
     <li>making excuses or lying in order to continue with activity.</li>
     <li>engaging in risky behaviour in order to continue with activity</li> 
    </ul>
    </p>
    <br>
    <button id="button4">Eating disorder
        <span class="button-icon"> <ion-icon name="pulse-outline"></ion-icon></span>
    </button>
    <p id="para4">
     Symptoms Include:
     <ul id="u4">
     <li>Preoccupation with weight, food, calories, carbohydrates, fat grams, and dieting.</li>
     <li>Appears uncomfortable eating around others.</li>
     <li>Any new practices with food or fad diets, including cutting out entire food groups (no sugar, no carbs, no dairy, vegetarianism/veganism)</li> 
    </ul>
    </p>
    <br>
    <button id="button5">Addiction
        <span class="button-icon"> <ion-icon name="pulse-outline"></ion-icon></span>
    </button>
    <p id="para5">
     Symptoms Include:
     <ul id="u5">
     <li>An inability to stop using:</li>
     <li>Use and abuse of substances continue despite health problems</li>
     <li>Commonly feels the need to take the drug or carry out the behavior to deal with their problems.</li> 
     <li>May rapidly consume large quantities of alcohol in order to feel the effects and feel good.</li>
    </ul>
    </p>
    
</div>
<!-- <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script> -->
