.book{
    padding: 30px;
    margin-top: 5%;
    width: auto;

}
.book button{
    display: block;
    height: 100px;
    width: 310px;
    border-radius: 10px;
    background-color: #edcf54;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 350;
    color: #fff;
    border: #fff 1px solid;
    margin-left: 2px;
}
.book button:hover{
    background-color: #f2ea07;
}
.book p {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #e9edf6;
    text-align: justify;
    
}
.book ul{
    list-style: square;
}
.book li {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #f9fafd;
    text-align: justify;
}
.button-icon:hover{
    background-color: #edcf54;
}
