.book{
    background-color: #d4ecef;
    padding: 10px;
    margin: 1%;
    width: auto;
}
.book button{
    display: block;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background-color: #345995;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    border: #fff 1px solid;
    margin-left: 2px;
}
.book p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #18191b;
    text-align: justify;
    
}
.book li {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #0b0d10;
    text-align: justify;
}
